# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfstate.backup

# Sensitive Files
*.pem
*.key
*.crt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*-outputs.txt
